.sidenav-menu {
    padding-top: 10px;
    min-width: 60px; 
    height: 100%;
    overflow: hidden;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-list {
    padding-top: 0px;
}