<div class="flex-column-center">
    <div class="container journal-container journal-border">
        <div class="flex-column-center">
            <div>
                <h3 class="form-header inline mr-3">Индивидуальный план аспиранта</h3>
                <button mat-stroked-button color="primary" (click)="submitJournal()">Сохранить</button>
            </div>
        </div>
        
       <!-- <form [formGroup]="journalOptions" autocomplete="off">
            
        </form>-->
    </div>
</div>