.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journal-container {
    -webkit-box-shadow: 1px 1px 10px -1px rgba(196,199,207,0.26);
    -moz-box-shadow: 1px 1px 10px -1px #c4c7cf42;
    box-shadow: 1px 1px 10px -1px rgba(196,199,207,0.26);
    background-color: #e9e8ebc4;
    font-size: 16px;
    margin-bottom: 50px;
    padding: 10px;
}

.journal-border {
    border: 1px solid #c5c6ca21;
    border-radius: 4px;
}

.form-header {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-element {
    margin: 7px;
    padding-right: 10px;
}

.chapter-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapter-header {
    font-size: 19px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.section-header {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}

.section-label {
    font-size: 17px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.747);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    display: block;
    margin-bottom: 4px;
}

.inline {
    display: inline;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}