.item-icon {
    margin-right: 8px;
}

.menu-item-container {
    font-family: 'Roboto', sans-serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #424242;

    display: flex;
}