
<div class="light-background height-full">
    <div class="center">
        <div class="auth-wrapper auth-border auth-login-container">
            <div>
                <h2 class="form-header">Вход</h2>
            </div>
            <mat-error *ngIf="!isAuth">{{authAlert }}</mat-error>
            <mat-divider></mat-divider>

            <form [formGroup]="options" class="auth-form" autocomplete="off" (submit)="login()">
                <mat-form-field class="width-full form-element">
                    <mat-label>Введите логин</mat-label>
                    <input matInput placeholder="Логин" [formControl]="loginControl">

                    <mat-error *ngIf="loginControl.invalid">{{validateLogin()}}</mat-error>
                </mat-form-field>
                <br />
        
                <mat-form-field class="width-full form-element">
                    <mat-label>Введите пароль</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Пароль" [formControl]="passwordControl">
                    <button 
                        mat-icon-button 
                        matSuffix (click)="hidePassword = !hidePassword" 
                    >
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordControl.invalid">{{validatePassword()}}</mat-error>
                </mat-form-field>
                <br />

                <div class="action-footer">
                    <button class="form-element action-element" button mat-raised-button (click)='register()'>Регистрация</button>
                    <button type="submit" class="form-element action-element" button mat-raised-button color="primary">Вход</button>
                </div>
            </form>
        </div>
    </div>
</div>
