<form [formGroup]="loginOptions" autocomplete="off">
    <mat-form-field class="width-full">
        <mat-label>Введите логин</mat-label>
        <input matInput placeholder="Логин" formControlName="Login">

        <mat-error *ngIf="LoginControl.invalid">{{ validateLogin() }}</mat-error>
    </mat-form-field>
    <br />

    <div formGroupName="passwords">
        <mat-form-field class="width-full">
            <mat-label>Введите пароль</mat-label>
            <input [type]="hidePassword ? 'password': 'text'" matInput placeholder="Пароль" formControlName="Password">
            <button 
                type="button"
                mat-icon-button 
                matSuffix (click)="hidePassword = !hidePassword" 
            >
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    
            <mat-error>{{validatePassword()}}</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="width-full">
            <mat-label>Повторите пароль</mat-label>
            <input 
                [type]="hideConfirmPassword ? 'password': 'text'" 
                matInput 
                placeholder="Повторите пароль" 
                formControlName="ConfirmPassword" 
                [errorStateMatcher]="passwordMatcher">
            <button 
                type="button"
                mat-icon-button 
                matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" 
            >
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error>Пароли не совпадают</mat-error>
        </mat-form-field>
        <br />
    </div>
</form>