$primary-color: #1565C0;
$hero-color: #2196f3;

$common-font-family: 'Open Sans', sans-serif;
$common-font-family-semibold: 'Open Sans Semibold', sans-serif;
$common-font-family-regular: 'Open Sans Regular', sans-serif;