
<div *ngIf="isLoading" class="center">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
    <app-nav-menu></app-nav-menu>

    <mat-sidenav-container>
        <mat-sidenav
            mode="side" 
            opened 
            disableClose="true">
                <pac-main-sidenav></pac-main-sidenav>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="isOpened ? 'open': 'close'">
            <div class="main-content">
                My content!!!!!!!!!!!
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
