<header class="box-shadow primary-block header">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<button mat-icon-button (click)="onSideNavToggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<mat-divider vertical class="menu-divider"></mat-divider>

			<button mat-icon-button>
				<mat-icon>verified_user</mat-icon>
			</button>
	
			<span class="spacer"></span>
			<button mat-icon-button>
				<mat-icon>verified_user</mat-icon>
			</button>
			<button mat-icon-button (click)="logout()">
				<mat-icon>exit_to_app</mat-icon>
			</button>
		  </mat-toolbar-row>
	</mat-toolbar>
</header>
